#nav-container {
  height: calc(100% - 31px);
}
.listOfNotes {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

  .note-container {
    height: 80px;
    border-collapse: collapse;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.5px 0px 0.5px 0px;
  }
  .activeNote {
    border-left: 5px solid #1c72ff;
  }
  .note-container:first-child {
    border-top: none;
  }
  // .note-container:last-child {
  //   border-bottom: none;
  // }
}
