<div id="nav-container">
  <ul class="listOfNotes" id="list-of-notes">
    <li class="note-container"
      [ngClass]="{'newNote': note.id === 'NEW' && activeNote == note,'activeNote': activeNote == note, 'syncingNote': userIsTyping && activeNote == note}"
      *ngFor="let note of (notes | sortNoteByDate)">
      <div class="nav-note-overlay" *ngIf="userIsTyping && activeNote !== note"></div>  
      <app-preview-note 
        [note]="note" 
        [active]="activeNote === note" 
        (viewNoteEvent)="handleViewNote($event)" 
        (removeNoteEvent)="handleRemoveNote($event)"
        (changeNoteNameEvent)="handleChangeNoteName($event)">
      </app-preview-note>
    </li>
  </ul>
</div>