@import "../../../../variables.scss";
#controls-container {
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;

  .add-btn {
    display: flex;
    margin: auto;
    font-size: 26px;
  }
  .searchBox {
    margin: 3px;
    width: 100%;
  }
  .mdi-plus-box {
    color: $active-add-note-blue;
  }
  .mdi-plus-box-outline {
    color: $inactive-grey;
  }
}
