#preview-note-container {
  width: 100%;
  height: 100%;
  display: flex;
  .note-info-container {
    padding: 3px;
    flex: 0.9;
  }
  .controls-container {
    display: flex;
    flex: 0.1;
    flex-direction: column;
    padding: 3px;
    .remove-btn {
      font-size: 18px;
    }
    .remove-btn:hover {
      font-size: 24px;
    }
  }
}
