<div id="app-container">
  <app-sidebar 
    (viewNoteEvent)="handleViewNote($event)" 
    (addNoteEvent)="handleAddNote()" 
    (removeNoteEvent)="handleRemoveNote($event)"
    (changeNoteNameEvent)="handleChangeNoteName($event)" 
    (searchNoteEvent)="handleSearchNote($event)" 
    [notes]="notes" 
    [activeNote]="activeNote">
  </app-sidebar>

  <app-note 
    [activeNote]="activeNote" 
    [userIsTyping]="userIsTyping" 
    (updateNoteEvent)="handleUpdateNote($event)">
  </app-note>
</div>