/* Global variables */
$active-note-blue: #0074e4;
$active-add-note-blue: $active-note-blue;
$active-remove-note-black: #222222;
$syncing-yellow: #f1c550;
$new-green: #00d618;
$inactive-grey: #a5a5a5;
